<div style="padding-top: 1rem;"></div>

<div class="main">
  <div class="left">

  </div>

  <div class="middle">
    <button style="margin-bottom: 1rem;background-color: cornflowerblue; border-radius: 12px; border: none; color: white; padding: 1rem; margin-right: 0.3rem" (click)= "deleteBand()">Delete</button>
    <button style="margin-bottom: 1rem;background-color: cornflowerblue; border-radius: 12px; border: none; color: white; padding: 1rem;" (click)= "addBand()">Add</button>

    <canvas width="800px" height="800px" id="canvas" #canvas></canvas>

  </div>

  <div class="last">
        <div>Palatte</div>
        <div>Properties</div>
  </div>

</div>


<router-outlet></router-outlet>
