.main
{
  display: flex;
}

.left
{
width: 10%;

}

.middle
{
  width: 70%;
  background-color: rgb(240, 240, 240);
  height: 50rem;
  padding: 1rem;
}


.last
{
  width: 20%;
  padding: 1rem;
}

canvas{
  background-color: white;
;
}

h4
{
  margin: 0.8rem 0;
}
.side-palette
{
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);

  padding: 0.8rem;
  padding-top: 0.2rem;
  margin-bottom: 1rem;
}

.dragable-item
{
  padding: 0.6rem;
  width: 40%;
}
.dragable-item:hover
{
  background-color: rgba(245, 245, 245, 0.7);
}
